<a href="https://colab.research.google.com/github/shyoonCS/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 3-1 언패킹

In [1]:
coordinates = (10, 20)
# 튜플 언패킹
x,y = coordinates
print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
# 리스트 언패킹
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
# 문자열 언패킹
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C

In [133]:
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]

# 함수값 return 언패킹
minimum, maximum, average = get_dataset_stats(data)

print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.1f}')

#selftest
def testFunc(data) :
  for i in range(len(data)):
    data[i] = data[i] + 1
    #print(data[i])
  return data
#testFunc(data)
def testFunc2(num) :
  return num*2
print(f'b4:{data}')
print(f'af:{testFunc(data)}')
print(f'af_2:{list(map(testFunc2, data))}') #iteration

최솟값: 5, 최댓값: 32, 평균: 15.6
b4:[12, 8, 21, 17, 5, 32, 14]
af:[13, 9, 22, 18, 6, 33, 15]
af_2:[26, 18, 44, 36, 12, 66, 30]

In [82]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]
for item in student_scores :
  print(f'list item : {item}')

tup = student_scores[0]
for item in tup :
  print(f'tupe item of list0  : {item}')
print(tup[0])
# 반복문에서 언패킹 사용
for name, database, python, cloud in student_scores :
  average = (database + python + cloud) / 3
  print(f'{name}의 평균 점수: {average:.1f}')

list item : ('김철수', 85, 92, 78)
list item : ('이영희', 92, 88, 95)
list item : ('박지민', 75, 83, 90)
tupe item of list0  : 김철수
tupe item of list0  : 85
tupe item of list0  : 92
tupe item of list0  : 78
김철수
김철수의 평균 점수: 85.0
이영희의 평균 점수: 91.7
박지민의 평균 점수: 82.7

In [17]:
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

# 1월, 2월 및 나머지 월 매출액
first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

# 1월, 12월 및 나머지 월 매출액
first, *middle, last = monthly_sales
print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

## 3-5 언더스코어

In [20]:
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]

# 이름 및 성적 만 출력
for _, name, _, grade , _ in students:
    print(f'이름: {name}, 성적: {grade}')

이름: 김철수, 성적: 2
이름: 이영희, 성적: 3
이름: 박민수, 성적: 1

In [22]:
def get_coordinates( ):
    return (10, 20, 30)

# 함수 return 값 언더스코어 사용
_,_,y = get_coordinates()

print(y)

30

## 3-2 예외 처리

In [31]:
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')

정수를 입력하세요: 1.1

ValueError: invalid literal for int() with base 10: '1.1'

In [33]:
number = int(input('정수를 입력하세요: '))

# try 문
try :
  result = 10 / number
  print(f'결과: {result}')

# except 문
except : #ZeroDivisionError :
  print('0으로 나눌 수 없습니다.')

정수를 입력하세요: 1
결과: 10.0

In [47]:
# try 문
try :
  number = int(input('숫자를 입력하세요: '))
  result = 10 / number
  print(f'결과: {result}')

# except 문 1
except ValueError :
  print('유효한 숫자를 입력해야 합니다.')

# except 문 2
except  ZeroDivisionError :
  print('0으로 나눌 수 없습니다.')

숫자를 입력하세요: 1.1
유효한 숫자를 입력해야 합니다.

In [48]:
# try 문
try :
  file = open('data.csv', 'r')
  content = file.read( )
  print(content)

# except 문
except :
  print('파일을 찾을 수 없습니다.')

# fianlly 블럭
finally :
  print('파일 작업 종료.')
  file.close( )

파일을 찾을 수 없습니다.
파일 작업 종료.

NameError: name 'file' is not defined

## 3-3 함수형 프로그래밍

In [109]:
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

# 함수 정의: salary * 1.1
ajust_salary = lambda salary : salary *1.1
# 급여 인상
updated_salaries = {name : ajust_salary(salary) for name, salary in employees.items()}
print(updated_salaries)
print(updated_salaries.items())
print(updated_salaries.keys())
print(updated_salaries.values())
for key, val in updated_salaries.items() :
  #print(f'{key} : {value}')
 # key, val = item
 # print(f'k:{key}, v:{val}')
  print(key, val)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}
dict_items([('이지혜', 3300000.0000000005), ('구민준', 5500000.0), ('방서연', 4510000.0)])
dict_keys(['이지혜', '구민준', '방서연'])
dict_values([3300000.0000000005, 5500000.0, 4510000.0])
이지혜 3300000.0000000005
구민준 5500000.0
방서연 4510000.0

In [111]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨
cel2fah = lambda c : (c * 9/5) +32
# 온도 변환
temperature_fahrenheit =list(map(cel2fah, temperature_celsius))
print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

#test
print((map(cel2fah, temperature_celsius)))

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]
<map object at 0x7b4a6b8d7700>

In [2]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화
uppercase_words = list(map(lambda c : c.upper() , words))
print(uppercase_words)

['PYTHON', 'DATA', 'ANALYSIS']

In [3]:
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

# salary * 1.1
salary_up = lambda salary : salary * 1.1
updated_employees = [{'name':emp['name'], 'salary' : salary_up(emp['salary']) } for emp in employees]
print('\n급여 인상 후:')

for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

급여 인상 후:
김지원: 4,070,000원
박민준: 7,700,000원
이서연: 4,840,000원
정현우: 3,850,000원

In [ ]:
numbers = [10, 15, 20, 25, 30]

# 짝수 필터링


print(even_numbers)

In [ ]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성


for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

In [ ]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]

# 최대값 생성


print(max_value)